body {
  background-color: #f0f0f0; 
  background-image: url('exp1.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover;
}

body.modal-open {
  position: relative;
  overflow: hidden;
}

body.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 100%; /* Maximum width */
  max-height: 100%; /* Maximum height */
  overflow: auto; /* Enable scroll if needed */
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
}

.modal button {
  color:inherit;
  font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.modal button:last-child {
  margin: 0;
}

.modal button:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.modal button:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.modal textarea {
  background-color: rgba(168, 146, 124, 0.3);
}

.modal #modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal #input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;
}

#input-container textarea {
  width: 100%;
  max-width: 500px;;
}

#editTaskModal {
  display: block;
}





#confirmationModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 20%; /* Maximum width */
    max-height: 10%; /* Maximum height */
    overflow: auto; /* Enable scroll if needed */
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  #confirmationModal .message {
    font-size:1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
  }
  
  #confirmationModal .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #confirmationModal .options .btn {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  }
  
  #confirmationModal .options .btn:last-child {
    margin: 0;
  }
  
  #confirmationModal .options .btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  #confirmationModal .options .btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }

  