body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-image: url("exp1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body.modal-open {
  position: relative;
  overflow: hidden;
}

body.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(206, 200, 200, 0.5);
  z-index: -1;
}

#userDisplay {
  position: absolute; /* Alterado de 'flex' para 'absolute' */
  top: 20px;
  right: 2%; /* Alterado de 'left' para 'right' */
  color: #205d88; /* Blue */
  font-weight: bold;
}

#displayUsername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1d2d38;
  text-decoration: underline;
}

#labelUser {
  position: relative;
}

#logoutButton {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent; /* No background */
  color: #205d88; /* Blue symbol */
  border: none;
  width: 60px;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  transition: font-size 0.3s ease;
}

#logoutButton:hover {
  font-size: 20px; /* Aumenta o seu tamanho se passa com o rato por cima*/
}

#argola1 {
  position: absolute;
  top: 105px;
  left: 400px;
  z-index: 9999;
  height: 30px;
}
#argola2 {
  position: absolute;
  top: 105px;
  left: 460px;
  z-index: 9999;
  height: 30px;
}
#argola3 {
  position: absolute;
  top: 105px;
  left: 520px;
  z-index: 9999;
  height: 30px;
}
#argola4 {
  position: absolute;
  top: 105px;
  left: 580px;
  z-index: 9999;
  height: 30px;
}
#argola5 {
  position: absolute;
  top: 105px;
  left: 780px;
  z-index: 9999;
  height: 30px;
}
#argola6 {
  position: absolute;
  top: 105px;
  left: 840px;
  z-index: 9999;
  height: 30px;
}
#argola7 {
  position: absolute;
  top: 105px;
  left: 900px;
  z-index: 9999;
  height: 30px;
}
#argola8 {
  position: absolute;
  top: 105px;
  left: 960px;
  z-index: 9999;
  height: 30px;
}
#argola9 {
  position: absolute;
  top: 105px;
  left: 1160px;
  z-index: 9999;
  height: 30px;
}
#argola10 {
  position: absolute;
  top: 105px;
  left: 1220px;
  z-index: 9999;
  height: 30px;
}
#argola11 {
  position: absolute;
  top: 105px;
  left: 1280px;
  z-index: 9999;
  height: 30px;
}
#argola12 {
  position: absolute;
  top: 105px;
  left: 1340px;
  z-index: 9999;
  height: 30px;
}

#addTaskButton {
  position: absolute;
  top: 30%; /* Adjust this value to move the button up or down */
  left: 10%;
  width: 80%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid #205d88;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 #205d88;
  transition: all 0.2s;
  border-radius: 10px;
}

#addTaskButton:last-child {
  margin: 0;
}

#addTaskButton:hover {
  box-shadow: 0.4rem 0.4rem 0 #205d88;
  transform: translate(-0.4rem, -0.4rem);
}

#addTaskButton:active {
  box-shadow: 0 0 0 #205d88;
  transform: translate(0, 0);
}

.titulos > h2 {
  position: relative;
  top: 40px;
  left: 270px;
  color: #205d88;
  font-size: 2em;
  font-weight: bold;
}

.taskArea {
  position: relative;
  width: 18%;
  height: 500px;
  border: 4px solid #205d88;
  border-left: 10px solid #205d88;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #060606;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 1px 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: rgba(168, 146, 124, 0.3);
  margin-top: 120px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: auto;
  transform: translateX(80px);
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5), -1px 0 0 0 black;
  padding-top: 10px;
}

.taskArea .tasks-container {
  overflow-y: auto;
  flex-grow: 1;
  padding: 8px;
}

.task {
  background-color: #fff;
  border: 2px solid #000;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}

.taskArea > div {
  width: 90%;
  background-color: #fff;
  border: 2px solid #205d88;
  margin: 12px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.taskArea div:active {
  border-width: 4px; /* Aumenta a largura da borda da div quando clicada */
  transition: border-width 0.3s ease; /* Adiciona um efeito de transição suave */
}

.taskArea > div::after {
  content: "";
  display: block;
  border-top: 2px solid #000; /* Adicionado */
  margin-top: 10px; /* Adicionado */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 100%; /* Maximum width */
  max-height: 100%; /* Maximum height */
  overflow: auto; /* Enable scroll if needed */
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid #205d88;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 8px 8px 0 rgba(32, 93, 136, 0.2); /* 0.5 is the opacity */
  font-family: "Arial", sans-serif;
  color: #205d88;
}

.modal button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid #205d88;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 #205d88;
  transition: all 0.2s;
  border-radius: 10px;
}

.modal button:last-child {
  margin: 0;
}

.modal button:hover {
  box-shadow: 0.4rem 0.4rem 0 #205d88;
  transform: translate(-0.4rem, -0.4rem);
}

.modal button:active {
  box-shadow: 0 0 0 #205d88;
  transform: translate(0, 0);
}

.modal textarea {
  background-color: rgba(168, 146, 124, 0.3);
  resize: none;
  border-color: #205d88;
  color: #205d88;
  border-radius: 5px;
}

.modal #input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;
}

#newTaskModal{
  display: none;
}

#newTaskModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%; /* Add this */
  width: 20%; /* Add this */
}

#newTaskModal .input-container {
  display: flex;
  flex-direction: column;
  margin: 3% 0;
}

.modal textarea#taskDescription {
  height: 170px; /* Adjust as needed */
}

#taskDetailsModal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#taskDetailsModal h4.taskTitleInfo, #taskDetailsModal #modalOkButton {
  text-align: center;
  margin: auto;
}

#taskDescriptioninfo {
  text-align: justify;
}

#trashIcon {
  position: fixed;
  bottom: 10px;
  left: 20px;
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  transition: transform 0.3s ease; /* Adicione uma transição para suavizar o aumento de tamanho */
}

#trashIcon.highlightTrash {
  bottom: 10px;
  left: 20px;
  width: 35px;
  height: 35px; /* Adiciona uma transição suave */
}

aside {
  position: fixed; /* Makes the aside stick to the left side of the page */
  top: 0; /* Aligns the aside with the top of the page */
  left: 0; /* Aligns the aside with the left of the page */
  height: 100vh; /* Makes the aside the same height as the viewport */
  background-color: rgba(
    240,
    240,
    240,
    0.2
  ); /* Makes the background color semi-transparent */
  padding: 20px; /* Some padding */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  width: 200px; /* Adjust as needed */
  overflow: auto; /* Adds scroll if the content overflows */
}

aside::after {
  content: "";
  position: absolute;
  top: 230px; /* Ajuste conforme necessário para a posição vertical */
  left: 0;
  width: 100%;
  height: 3px; /* Espessura da linha */
  background-color: rgba(
    32,
    93,
    136,
    0.5
  ); /* Cor da linha azul com transparência */
}

#logo {
  position: absolute; /* Change this line */
  top: 0; /* Change this line */
  left: 0; /* Change this line */
  width: 170px; /* Adjust as needed */
  height: 120px; /* Adjust as needed */
  margin: 30px; /* Adjust as needed */
  filter: brightness(70%);
  z-index: 1; /* Makes the logo appear in front of other elements */
}

#deleteWarning {
  color: #205d88;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 20%;
  height: 10%; /* Maximum width */ /* Maximum height */
  overflow: auto; /* Enable scroll if needed */
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid #205d88;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(32, 93, 136, 0.2); /* 0.5 is the opacity */
  border-radius: 10px;
}

#deleteWarning .message {
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}

#deleteWarning .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#deleteWarning .options .btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid #205d88;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 #205d88;
  transition: all 0.2s;
}

#deleteWarning .options .btn:last-child {
  margin: 0;
}

#deleteWarning .options .btn:hover {
  box-shadow: 0.4rem 0.4rem 0 #205d88;
  transform: translate(-0.4rem, -0.4rem);
}

#deleteWarning .options .btn:active {
  box-shadow: 0 0 0 #205d88;
  transform: translate(0, 0);
}

#contextMenu {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  width:7%;
  height: 5%;
  z-index: 1; /* Sit on top */
  background: white; /* Background color */
  border: 3px solid #205d88; /* Border color */
  border-radius: 5px; /* Border radius */
  padding: 0.5rem 1.0rem;
  
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow */
}

#contextMenu div {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #205d88; /* Text color */
}

#contextMenu div:hover {
  background-color: #ddd; /* Hover background color */
  border-radius: 5px; /* Rounded corners */
}

#deleteTask::before, #editTask::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px; /* Space between the text and the icon */
  filter: invert(1) grayscale(1) brightness(0.50);
}

#deleteTask::before {
  background-image: url('/trash_context.png'); /* Path to the delete icon */
}

#editTask::before {
  background-image: url('/edit_context.png'); /* Path to the edit icon */
}

