body {
    background-image: url('fundo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: Sans-serif;
}
.container {
    width: 300px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: medium;
    font-family: sans-serif; 
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
